#!/bin/bash

INSTALL_DIRECTORY <%INSTALL_DIRECTORY%>
LOG_DIRECTORY <%LOG_DIRECTORY%>
CONFIG_DIRECTORY <%CONFIG_DIRECTORY%>
USERNAME <%USERNAME%>
USERGROUP <%USERGROUP%>
GAME_ID <%GAME_ID%>

PORT_SERVER <%PORT_SERVER%>
PORT_QUERY <%PORT_QUERY%>
THREAD_COUNT <%THREAD_COUNT%>
PLAYER_COUNT <%PLAYER_COUNT%>
IS_PUBLIC <%IS_PUBLIC%>
AUTO_UPDATE <%AUTO_UPDATE%>